@import '../../../../library/color.scss';
@import '../../../../library/fontSize.scss';

.tabsPanel{
	height: 56px;
	display: flex;
	width: 100%;
	border-bottom: 1px solid $Medium;
	margin-bottom: $Level4;
}