@import '../../library/color.scss';

.menu {
  width: 14em;
  background-color: $White;
  height: calc(100% - 5em);
  position: fixed;
  top: 5em;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: .5s;

  &.open {
    left: 0%;
  }

  &Top {
    button {
      width: 100%;
      height: 83px;
    }

    .nav {
      display: flex;
      flex-direction: column;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;

      a {
        height: 83px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

  }

  &Bottom {
    .themeBtns {
      width: 100%;
      margin: 0;
      height: 80px;
      display: flex;
      justify-content: center;
    }

    input {
      width: 100%;
      margin: 0;
      height: 80px;
    }
  }
}