@import '../../../../library/color.scss';

.button {
  width: 50px;
  height: 56px;
  background-color: transparent;
  margin-left: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &:hover{
    background-color: $Error;
    color: $White;
  }
}