@import '../../library/fontSize.scss';
@import '../../library/color.scss';

.post {
  max-width: 740px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid $Gray;
.link{
  color:black
}
p{
  color: $Gray;
}
  .content {
    width: 100%;
    height: 100%;
    font-size: $Level7;
    font-weight: 400;
    display: flex;

    .text {
      height: 85%;
      width: 60%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      text-overflow: ellipsis;

      p {
        margin-bottom: $Level8;
        line-height: 24px;
      }

      .title {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: $Level6;
        line-height: 44px;
        margin-top: $Level6;
      }

      .description {
        line-height: 28px;
      }
    }

    .postImg {
      width: 50%;

      img {
        width: 100%;
        max-height:300px;
      }
    }
  }

  .connect {
    display: flex;
    justify-content: space-between;

    .likes {
      display: flex;
      justify-content: flex-start;
      align-content: center;

      button {
        margin-right: 10px;
      }
    }

    .options {
      display: flex;
      align-items: center;
    }
  }

  &.head {
    max-width: 95%;
    height: 460px;
    margin-top: 3px;
  }

  &.main {
    max-width: 80%;
    height: 460px;
    margin: 40px 30px 30px;

    .content {
      flex-direction: column-reverse;

      .title {
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
      }

      .description {
        display: none;
      }

      &>* {
        width: 100%;
      }

      .postImg {
        width: 100%;

        img {
          height: 100%;
        }
      }
    }
  }

  &.sideBar {
    max-width: 352px;
    height: 230px;
    margin-top: 10px;
   justify-content:flex-start; 
    .content {
   
  

      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
      }

      .description {
        display: none;
      }

      .postImg {
        width: 35%;

        img {
          width: 100%;
        }
      }
    }
  }
}