
.postList{
	display: grid;
	grid-template-columns: 2fr 1fr;
	.mainSide{
		max-width: 100%;
		
		.mainPosts{
		
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: max-content;
			grid-auto-rows: max-content ;
			// gap:2em;
		}

	}
	.previewSide{
		max-width: 100%;
	}
}