@import '../../library/fontSize.scss';
@import '../../library/color.scss';

.page {
  display: flex;
  flex-direction: column;
  height: 100%;

  .wrapp {
    &.light {
      background-color: $ExtraLight;
      ;
    }

    &.dark {
      background-color: $Secondary;
      color: #fff;

      button {
        color: #fff;

        svg {
          path {
            stroke: #fff;
            fill: rgb(49, 48, 55);
          }
        }
      }

    }
  }

  .outlet {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-top: 5em;
    height: 100%;
  }

  .footer {
    // display: flex;
    display: table-row;
    height: 100vh;
  }
}