@import '../../library/fontSize.scss';
@import '../../library/color.scss';

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .wrapp {
    &.light {
      background-color: $ExtraLight;
      ;
    }

    &.dark {
      background-color: $Secondary;
      color: #fff;

      button {
        color: #fff;
      }
    }
  }

  .outlet {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-top: 5em;
  }

  .footer {
    display: flex;
  }
}