@import '../../library/color.scss';
@import '../../library/fontSize.scss';
.success{
  height: 100vh;
  .form {
    max-width: 630px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: $Level4;
    gap: 10px;
    border: 1px solid $Medium;
    font-size: 16px;

    input {
      height: 55px;
      width: 100%;
      padding: 0 $Level4;
    }
  }
}
  