.wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
  gap: 2em;
  grid-template-areas: 
  'firstMain secondMain sideBar' 
  'firstMain secondMain sideBar';
  &.firstMain{
    grid-area: 'firstMain';
  }
  &.secondMain{
    grid-area: 'secondMain';
  }
&.sideBar {
  grid-area: 'sideBar';
}

}