$Primary: rgba(34, 49, 170, 1);
$Primary2: rgba(83, 96, 205, 1);
$Secondary: rgba(49, 48, 55, 1);
$Gray: rgba(141, 142, 151, 1);
$Medium: rgba(218, 218, 218, 1);
$ExtraLight: rgba(243, 243, 243, 1);
$Error: rgba(253, 52, 25, 1);
$White: rgba(255, 255, 255, 1);
$Light: rgba(232, 232, 232, 1);

