@import '../../../library/color.scss';

.input {
	height: 100%;
	width: 70%;
	background-color: $Primary2;
	border: 0;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $White;
	::-webkit-input-placeholder {color:#c0392b;}
	::-moz-placeholder          {color:#c0392b;}/* Firefox 19+ */
	:-moz-placeholder           {color:#c0392b;}/* Firefox 18- */
	:-ms-input-placeholder      {color:#c0392b;}
}

.error {
	border: 2px solid $Error;
	border-radius: 2px;
	color: $Error;
}