@import '../../library/color.scss';

.nav{
	display: flex;

	& > * {
		font-size: 1em;
		color: $Secondary;
		text-decoration: none;

		&:last-child {
			color: $Gray;
		}
	}

	.title {
		&::before {
			content: '|';
			margin: 0 .5em;
		}
	}
}